# Hiddens
.cache
.gnupg
.icons
.ipython
.java
.local
.m2
.mozilla
.netbeans
.npm
.pki
.pylint.d
.screenlayout
.steam
.thunderbird
.vscode
.w3m

# Documents
Desktop
Documents
Downloads
Music
NetBeansProjects
Pictures
Public
PycharmProjects
Templates
Videos
VirtualBox VMs

# .config
.config/autostart
.config/cef_user_data
.config/Code
.config/dconf
.config/discord
.config/Electron
.config/gconf
.config/geeqie
.config/GIMP
.config/gtk-2.0
.config/gtk-3.0
.config/htop
.config/JetBrains
.config/libreoffice
.config/Microsoft
.config/Microsoft Teams - Preview
.config/milkytracker
.config/neofetch
.config/nitrogen
.config/procps
.config/pulse
.config/rofi
.config/spotify
.config/StoneShard
.config/teams
.config/Thunar
.config/VirtualBox
.config/vlc
.config/volumeicon
.config/xfce4
.config/mimeapps.list
.config/pavucontrol.ini
.config/psppirerc
.config/QtProject.config
user-dirs.dirs
user-dirs.locale

# Hidden Files
.bash_history
.bash_logout
.bash_profile
.dmrc
.gtkrc-2.0
.lesshst
.lmmsrc.xml
.pulse-cookie
.steampath
.steampid
.Xauthority
.xsession-errors
.xsession-errors.old
pspp.jnl